<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>sign up</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.12/dist/full.min.css" rel="stylesheet" type="text/css"/>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'JavaScript/model_test.js' %}">
</head>
    <body class="h-screen w-screen grid grid-rows-2 grid-cols-2">
        <div class="row-start-1 row-end-2 col-start-1 col-end-2 text-center">
            <h1 class="text-center text-2xl">作成</h1>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="">
                        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                        {{ field }}
                    </div>
                    {% for error in field.error %}
                        <p style="color: red;">{{ error }}</p>
                    {% endfor %}
                {% endfor %}
                <input type="submit" value="作成">    
            </form>
            <script>
                const url = 'http://localhost:8000/create/';  // 送信先のURLを指定
                console.log("hellooooo");
                // GETリクエストを送信
                fetch(url, {
                method: 'GET',  // GETメソッドを指定
                // ここに必要なヘッダーやその他のオプションを追加できます
                })
                .then(response => {
                    if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                    }
                    return response.text();  // 応答をJSONとして解釈
                })
                .then(data => {
                    console.log('Data received:', data);
                    // 応答から得たデータに対する処理を行う
                })
                .catch(error => {
                    console.error('Error:', error);
                    // エラーが発生した場合の処理を行う
                });
            </script>
        </div>
        <div class="text-2xl row-start-1 row-end-2 col-start-2 col-end-3 text-center">編集</div>
        <div class="text-2xl row-start-2 row-end-3 col-start-1 col-end-2 text-center">一覧</div>
        <div class="text-2xl row-start-2 row-end-3 col-start-2 col-end-3 text-center">削除</div>
    </body>
</html>