<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>sign up</title>
    {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.12/dist/full.min.css" rel="stylesheet" type="text/css"/> {% endcomment %}
</head>
<body>
    <h2 class="text-2xl">登録が完了しました</h2>
    <h2 style="color:blue"><a href={% url 'accounts:login' %}>ログインはこちら</a></h2>
</body>
</html>