<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>DjangoでTailwindCSSを使用する方法</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.12/dist/full.min.css" rel="stylesheet" type="text/css" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    {% load static %}
    <link rel="icon" type="image/png" href="{% static 'images/icon.png' %}">
</head>
    <body class="w-screen h-screen original-gradient">
        <h1 class="text-2xl">DETAIL</h1>
        {% if user.is_senior %}
            <ul>
                {% comment %} company側の処理。高齢者の表示 {% endcomment %}
                    <li>{{ object.name}}</li>
                    <li>{{ object.age }}</li>
                    <li>{{ object.created_at }}</li>
                    <li>{{ object.updated_at }}</li>
                    <li>{{ object.name }}</li>
                    <li>{{ object.age }}</li>
                    <li>{{ object.address }}</li>
                    <li>{{ object.description }}</li>
                    <li>{{ object.face_path }}</li>
                    <li>{{ object.is_wanted }}</li>
                    <br />
            {% else %}
            {% comment %} 高齢者側の処理、高齢者が検索した案件の詳細 {% endcomment %}
                    <li>{{ object.company.name }}</li>
                    <li>{{ object.created_at }}</li>
                    <li>{{ object.updated_at }}</li>
                    <li>{{ object.number_of_people }}</li>
                    <li>{{ object.description }}</li>
                    <li>{{ object.is_public }}</li>
                    <li>{{ object.created_at }}</li>
                    <br />
            {% endif %}
        </ul>
    </body>
</html>