<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>マイページ</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.12/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <header>
        <h1>会社の名前</h1>
        <img src="https:/localhost" >
    </header>

    <section>
        <h2>会社概要</h2>
        <p>住所: </p>
        <p>業種: </p>
        <p>ホームページ</a></p>
        <p>こん</p>
    </section>

    <footer>
        <p>ああああ</p>
    </footer>


</body>
</html>